<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.dao">
 	<insert id="addArticle" parameterType="com.alibaba.fastjson.JSONObject">
 		<![CDATA[
 			insert into articles (content) values (#{content})
 		]]>
 	</insert>
	
	<select id="countArticle" parameterType="com.alibaba.fastjson.JSONObject" resultType="Integer">
		select count(id) from articles a where a.delete_status = '1'
	</select>
	
	<select id="listArticle" resulType="com.alibaba.fastjson.JSONObject">
		SELECT
			a.id id,
			a.content content,
			date_format(
				a.create_time,
				'%Y.%m.%d %T'
			) createTime
		FROM
			articles a
		WHERE
			a.delete_status = '1'
			limit #{offset}, #{pageRow}
	</select>
	
	<update id="updateArticle" parameterType="com.alibaba.fastjson.JSONObject">
		update articles set content =#{content} where id =#{id}
	</update>
</mapper>
